
@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

/* ===== Window ===== */
window#waybar {
    background-color: @surface;
    color: @on_surface;
}

/* ===== Workspaces ===== */
#workspaces button {
    padding: 0 6px;
    color: @secondary;
    background: transparent;
    border-bottom: 3px solid @surface;
}

#workspaces button.active {
    color: @primary;
    border-bottom: 3px solid @primary;
}

#workspaces button.empty {
    color: @on_surface_variant;
}

#workspaces button.empty.active {
    color: @primary;
    border-bottom: 3px solid @primary;
}

#workspaces button.urgent {
    background-color: @error_container;
    color: @on_error_container;
}

/* ===== Hover ===== */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @primary;
}

/* ===== Common Modules ===== */
#clock,
#custom-sep,
#battery,
#custom-updates,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @on_surface;
}

/* ===== Separator ===== */
#custom-sep {
    color: @outline_variant;
}

/* ===== Individual Modules ===== */

#clock {
    color: @tertiary;
    border-bottom: 4px solid @tertiary;
}

#custom-updates {
   color: @secondary;
   border-bottom: 4px solid @secondary;
}


#battery {
    color: @secondary;
    border-bottom: 4px solid @secondary;
}

#disk {
    color: @primary;
    border-bottom: 4px solid @primary;
}

#memory {
    color: @secondary_fixed_dim;
    border-bottom: 4px solid @secondary_fixed_dim;
}

#cpu {
    color: @tertiary_fixed_dim;
    border-bottom: 4px solid @tertiary_fixed_dim;
}

#network {
    color: @primary;
    border-bottom: 4px solid @primary;
}

#network.disconnected {
    background-color: @error;
    color: @on_error;
}

/* ===== Tray ===== */
#tray {
    background-color: @surface_container;
}
