/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config Calculator */
/* Submitted by: https://github.com/JosephArmas */

@import "~/.config/rofi/config.rasi"

/* ---- Mainbox ---- */
mainbox {
  children: [ "entry", "message" ];
  height: inherit;
}

/* ---- Window ---- */
window {
  width: 30%;
  height: inherit;
}

/* ---- Entry ---- */
entry {
  expand: true;
  placeholder: " 🧮 what is this diddy blud doing on the calc?";
}

listview {enable: false;}
