/*
 * Css Colors (Template)
 */

@define-color blur_background rgba(26, 17, 15, 0.3);
@define-color blur_background8 rgba(26, 17, 15, 0.8);

@define-color background {{ colors.background.default.hex }};

@define-color error {{ colors.error.default.hex }};
@define-color error_container {{ colors.error_container.default.hex }};

@define-color inverse_on_surface {{ colors.inverse_on_surface.default.hex }};
@define-color inverse_primary {{ colors.inverse_primary.default.hex }};
@define-color inverse_surface {{ colors.inverse_surface.default.hex }};

@define-color on_background {{ colors.on_background.default.hex }};
@define-color on_error {{ colors.on_error.default.hex }};
@define-color on_error_container {{ colors.on_error_container.default.hex }};

@define-color on_primary {{ colors.on_primary.default.hex }};
@define-color on_primary_container {{ colors.on_primary_container.default.hex }};
@define-color on_primary_fixed {{ colors.on_primary_fixed.default.hex }};
@define-color on_primary_fixed_variant {{ colors.on_primary_fixed_variant.default.hex }};

@define-color on_secondary {{ colors.on_secondary.default.hex }};
@define-color on_secondary_container {{ colors.on_secondary_container.default.hex }};
@define-color on_secondary_fixed {{ colors.on_secondary_fixed.default.hex }};
@define-color on_secondary_fixed_variant {{ colors.on_secondary_fixed_variant.default.hex }};

@define-color on_surface {{ colors.on_surface.default.hex }};
@define-color on_surface_variant {{ colors.on_surface_variant.default.hex }};

@define-color on_tertiary {{ colors.on_tertiary.default.hex }};
@define-color on_tertiary_container {{ colors.on_tertiary_container.default.hex }};
@define-color on_tertiary_fixed {{ colors.on_tertiary_fixed.default.hex }};
@define-color on_tertiary_fixed_variant {{ colors.on_tertiary_fixed_variant.default.hex }};

@define-color outline {{ colors.outline.default.hex }};
@define-color outline_variant {{ colors.outline_variant.default.hex }};

@define-color primary {{ colors.primary.default.hex }};
@define-color primary_container {{ colors.primary_container.default.hex }};
@define-color primary_fixed {{ colors.primary_fixed.default.hex }};
@define-color primary_fixed_dim {{ colors.primary_fixed_dim.default.hex }};

@define-color scrim {{ colors.scrim.default.hex }};

@define-color secondary {{ colors.secondary.default.hex }};
@define-color secondary_container {{ colors.secondary_container.default.hex }};
@define-color secondary_fixed {{ colors.secondary_fixed.default.hex }};
@define-color secondary_fixed_dim {{ colors.secondary_fixed_dim.default.hex }};

@define-color shadow {{ colors.shadow.default.hex }};

@define-color source_color {{ colors.source_color.default.hex }};

@define-color surface {{ colors.surface.default.hex }};
@define-color surface_bright {{ colors.surface_bright.default.hex }};
@define-color surface_container {{ colors.surface_container.default.hex }};
@define-color surface_container_high {{ colors.surface_container_high.default.hex }};
@define-color surface_container_highest {{ colors.surface_container_highest.default.hex }};
@define-color surface_container_low {{ colors.surface_container_low.default.hex }};
@define-color surface_container_lowest {{ colors.surface_container_lowest.default.hex }};
@define-color surface_dim {{ colors.surface_dim.default.hex }};
@define-color surface_tint {{ colors.surface_tint.default.hex }};
@define-color surface_variant {{ colors.surface_variant.default.hex }};

@define-color tertiary {{ colors.tertiary.default.hex }};
@define-color tertiary_container {{ colors.tertiary_container.default.hex }};
@define-color tertiary_fixed {{ colors.tertiary_fixed.default.hex }};
@define-color tertiary_fixed_dim {{ colors.tertiary_fixed_dim.default.hex }};
